<div>{{ user.name }}</div>
<div>
<ul>
<li ng-repeat="item in user.items" ng-switch="!!item.url">
<a target="_blank" ng-href="{{item.url}}" ng-switch-when="true">{{item.name}}</a>
<span ng-switch-when="false">{{item.name}}</span>
<button ng-click="deleteItem(item._id)">delete</button>
</li>
</ul>
</div>
<div>
<div><span ng-show="message">{{message.value}}</span></div>
<form ng-submit="addItem()" novalidate>
<div><label>Name:</label> <input type="text" name="name" size=40 ng-model="item.name" required /></div>
<div><label>URL:</label> <input type="url" name="url" size=40 ng-model="item.url" /></div>
<div><label>Price:</label> <input type="number" name="price" size="8" ng-model="item.price" /></div>
<div><label>Priority:</label> <select name="priority" ng-model="item.priority">
<option value=1>Can't Live Without</option>
<option value=2>Really Want</option>
<option value=3>Nice to Have</option>
</select>
</div>
<div><input type="submit" value="Add Item" /></div>
</form>
</div>
