<!--
vim: tabstop=2 shiftwidth=2 expandtab
-->

<div>{{ user.name }}</div>
<div ng-repeat="item in user.items">
  <div ng-hide="isEditItem(item)">
    <a ng-show="item.url" target="_blank" ng-href="{{item.url}}">{{item.name}}</a>
    <span ng-hide="item.url">{{item.name}}</span>
    <span ng-show="isLoggedInUser()">
      <button ng-click="deleteItem(item)">delete</button>
      <button ng-click="showEdit(item)">edit</button>
    </span>
    <span ng-hide="isLoggedInUser()">
      <button ng-click="toggleItemBought(item)">{{item.bought}}</button>
    </span>
  </div>
  <div ng-show="isEditItem(item)">
    <form novalidate>
      <item-form></item-form>
      <div>
        <button ng-click="saveItem(item)">Save</button> 
        <button ng-click="hideEdit(item)">Cancel</button>
      </div>
    </form>
  </div>
</div>
</div>
<div>
<div><span ng-show="message">{{message.value}}</span></div>
<form ng-submit="addItem()" novalidate>
  <item-form></item-form>
  <div><input type="submit" value="Add Item" /></div>
</form>
</div>
